/tags.temp
/tags.lock
/tags
/.cache/
/.local
/node_modules/
compile_commands.json
pyrightconfig.json
/.envrc
/.exrc
/.direnv/
.projections.json
.luarc.json
.parcel-cache/
.DS_Store
mobile-js/
mobile-css/
mobile-files.json
settings.local.json
claude.local.md
